# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

pool:
  vmImage: ubuntu-latest

steps:
- task: AzureContainerRegistry@2
  inputs:
    containerRegistry: 'kelseyspiretestregistry'  # Use the name of your service connection
    repository: 'azure-integration'
    command: 'build'
    Dockerfile: '**/Dockerfile'
    buildContext: '$(System.DefaultWorkingDirectory)'

- script: docker push kelseyspiretestregistry.azurecr.io/web-app-image:$(Build.BuildId)
  displayName: 'docker push'

#- task: AzureContainerApp@1
#  inputs:
#    azureSubscription: 'kelseyspiretestregistry'  # Use the name of your service connection
#    appName: 'stemmler-test-container-app'  # Replace with your Azure Container Apps app name
#    dockerImages: 'web-app-image:$(Build.BuildId)'
